.colorRed {
  color: red;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  margin-top: -1.5rem;
}

.glasses-item {
  cursor: pointer;
  padding: 8px 0;
}

.glasses-item button {
  transition: all 0.5s;
  border: none;
}

.glasses-item button:focus {
  background-color: rgba(7, 152, 7, 0.7);
}

.glasses-item button:focus img {
  width: 130px;
  height: 60px;
}

@media only screen and (max-width: 768px) {
  .glasses-item button:focus img {
    width: 105px;
    height: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .glasses-item button:focus img {
    width: 94px;
    height: 37px;
  }
}

.glasses-item button img {
  border: 1px solid transparent;
  transition: all 0.5s;
  padding: 8px;
  width: 120px;
  height: 50px;
}

@media only screen and (max-width: 768px) {
  .glasses-item button img {
    width: 95px;
    height: 40px;
    padding: 4px;
  }
}

@media only screen and (max-width: 576px) {
  .glasses-item button img {
    width: 85px;
    height: 33px;
    padding: 4px;
  }
}